[Unit]
Description=metacam_nav Programme
[Service]
User=skyland
ExecStart=-/opt/skyland/metacam_nav/services/metacam_nav/metacam_nav.sh
ExecReload=-/opt/skyland/metacam_nav/services/metacam_nav/metacam_nav.sh
Type=simple
Restart=always
RestartSec=1s
StandardOutput=journal
StandardError=journal
[Install]
WantedBy=multi-user.target