<launch>
    <arg name="min_intensity" default="0.2" />
    <arg name="pcd_path" default="$(find map_manager)/pcd/qingqing.pcd" />

    <arg name="create_pcd" default="true" />
    <arg name="leaf_size" default="0.2" />
    <arg name="always_save_pcd" default="false" />
    <arg name="save_pcd_path" default="$(find map_manager)/pcd_temp/huaguang_rmuc2" />

    <include file="$(find map_manager)/launch/interface/octomap_env.launch">
        <arg name="min_intensity" value="$(arg min_intensity)" />
        <arg name="pcd_path" value="$(arg pcd_path)" />
    </include>

    <group if="$(arg create_map)">
        <include file="$(find map_manager)/launch/interface/octomap_server.launch">
        </include>
    </group>

</launch>