<launch>
    <!-- 选择性开启-->
    <arg name="use_global_planner" default="false" />
    <arg name="use_rviz" default="true" />
    <arg name="use_2dlaser" default="false" />
    <arg name="use_map" default="true" />

    <!-- Autonomous Exploration Development Environment参数 -->
    <arg name="world_name" default="RMUC2024" />
    <arg name="checkTerrainConn" default="true" />
    <arg name="map_file" default="$(find map_manager)/map/rmul.yaml" />
    <arg name="pcd_path" default="$(find map_manager)/pcd/qingqing.pcd" />
    <arg name="min_intensity" default="0.17" />
    <arg name="min_intensity_global" default="0.3" />

    <!-- 仿真系统参数 -->
    <arg name="ns" default="Sentry" />
    <arg name="paused" default="false" />
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <!--模型车的起点放置位置-->
    <arg name="vehicleX" default="0" />
    <arg name="vehicleY" default="0" />
    <arg name="vehicleYaw" default="0" />

    <!-- 启动gazebo仿真环境，加载地图和机器人，同时添加控制器 -->
    <include file="$(find map_manager)/launch/interface/gazebo_robot.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="vehicleX" value="$(arg vehicleX)" />
        <arg name="vehicleY" value="$(arg vehicleY)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="is_open_rviz" value="false" />
        <arg name="use_2dlaser" value="$(arg use_2dlaser)" />
    </include>

    <!-- 启动Autonomous Exploration Development Environment环境，加载地形分析，局部导航 -->
    <include file="$(find vehicle_simulator)/launch/system_rmuc.launch">
        <arg name="robotFrame" value="$(arg ns)/vehicle" />
        <arg name="cmdTopic" value="$(arg ns)/cmd_vel" />
        <arg name="vehicleX" value="$(arg vehicleX)" />
        <arg name="vehicleY" value="$(arg vehicleY)" />
        <arg name="vehicleYaw" value="$(arg vehicleYaw)" />
        <arg name="checkTerrainConn" value="$(arg checkTerrainConn)" />
        <arg name="use_map" value="$(arg use_map)" />
        <arg name="min_intensity" value="$(arg min_intensity)" />
        <arg name="pcd_path" value="$(arg pcd_path)" />
    </include>

    <!-- odom-map -->
    <include file="$(find map_to_odom)/launch/map_to_odom.launch" />

    <!-- velodyne点云处理成/registered_scan和里程计/Odometry输出 -->
    <include file="$(find vehicle_simulator)/launch/robot_simulator.launch">
        <arg name="robotFrame" value="$(arg ns)/vehicle" />
    </include>

    <!-- 启动rviz -->
    <group if="$(arg use_rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rvizGA"
            args="-d $(find map_manager)/rviz/map_create.rviz" respawn="true" />
    </group>

    <!-- 启动全局规划 -->
    <group if="$(arg use_global_planner)">
        <include file="$(find pointcloud_to_laserscan)/launch/my_cloud_to_laser.launch">
            <arg name="min_intensity" value="$(arg min_intensity_global)" />
        </include>
        <!-- Map server -->
        <group if="$(arg use_map)">
            <node pkg="map_server" name="map_server" type="map_server" respawn="true"
                args="$(arg map_file)" />
        </group>
        <!-- move_base -->
        <include file="$(find move_base)/launch/move_base_goalOnly.launch">
            <arg name="odom_topic" value="/Odometry" />
        </include>
        <include file="$(find waypoint_control)/launch/waypoint_control.launch">
            <arg name="goal_point_only" value="true" />
        </include>
    </group>

</launch>