<launch>

  <arg name="ns" default="" />

  <include file="$(find pcl_to_laserscan)/launch/my_cloud_to_laser.launch">
    <arg name="ns" value="$(arg ns)" />
  </include>
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" respawn="true" />
  <!-- move_base -->
  <include file="$(find move_base)/launch/move_base_goal.launch" />

</launch>