<launch>

    <arg name="ns" default="" />
    <arg name="use_map" default="true" />

    <include file="$(find pointcloud_to_laserscan)/launch/my_cloud_to_laser.launch">
      <arg name="ns" value="$(arg ns)" />
    </include>
    <!-- Map server -->
    <group if="$(arg use_map)">
      <node pkg="map_server" name="map_server" type="map_server" respawn="true"/>
    </group>
    <!-- move_base -->
    <include file="$(find move_base)/launch/move_base_goal.launch"/>

</launch>