<launch>
    <arg name="pcd_path"
        default="$(find relocalization)/pcd/prior_map2.pcd" />
    <arg name="config_path"
        default="$(find relocalization)/config/xbotpark.yaml" />
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find relocalization)/launch/rviz/default.rviz"/> -->
    <node name="relocalization" pkg="relocalization" type="relocalization" output="screen"
        respawn="true">
        <param name="pcd_path" value="$(arg pcd_path)" />
        <param name="config_path" value="$(arg config_path)" />
    </node>
</launch>