<launch>
  <include file="$(find vehicle_simulator)/launch/rm_map.launch" />
  <include file="$(find pcl_to_laserscan)/launch/my_cloud_to_laser.launch" />
  
  <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
  <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />
  <node name="map" pkg="map_server" type="map_server" args="$(find vehicle_simulator)/map/rm_map.yaml" output="screen"/>

  <!-- <node name="map_server" pkg="map_server" type="map_server" args="/home/fwy/桌面/map.yaml" output="screen"/> -->

  <include file="$(find navfn)/launch/amcl.launch" />

  <include file="$(find navfn)/launch/move_base_teb.launch" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="maptobaselink" args="0 0 0 0 0 0 base_link velodyne 20" />
     <node pkg="tf" type="static_transform_publisher" name="maptoodom" args="0 0 0 0 0 0 base_link base_origin 20" /> -->

  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find vehicle_simulator)/rviz/vehicle_simulator.rviz"/>
</launch>
