<launch>
    <!-- 选择性开启-->
    <arg name="use_global_planner" default="false" />
    <arg name="use_rviz" default="false" />
    <arg name="use_map" default="true" />

    <!-- 局部规划的初始点位-->
    <arg name="ns" default="TITA" />
    <arg name="vehicleX" default="0" />
    <arg name="vehicleY" default="0" />
    <arg name="vehicleYaw" default="0" />
    <arg name="min_intensity" default="0.1" />
    <arg name="min_intensity_global" default="0.17" />
    <arg name="pcd_path" default="" />
    <param name="use_sim_time" value="false" />

    <include file="$(find map_to_odom)/launch/map_to_odom.launch">
        <arg name="vehicleX" value="$(arg vehicleX)" />
        <arg name="vehicleY" value="$(arg vehicleY)" />
        <arg name="vehicleYaw" value="$(arg vehicleYaw)" />
        <arg name="ns" value="$(arg ns)" />
    </include>

    <!-- 启动Autonomous Exploration Development Environment环境，加载地形分析，局部导航 -->
    <include file="$(find local_planner)/launch/system_rmuc.launch">
        <arg name="ns" value="$(arg ns)" />
        <arg name="vehicleX" value="$(arg vehicleX)" />
        <arg name="vehicleY" value="$(arg vehicleY)" />
        <arg name="vehicleYaw" value="$(arg vehicleYaw)" />
        <arg name="use_map" value="$(arg use_map)" />
        <arg name="min_intensity" value="$(arg min_intensity)" />
        <arg name="pcd_path" value="$(arg pcd_path)" />
    </include>

    <!-- 启动rviz -->
    <group if="$(arg use_rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rvizGA"
            args="-d $(find vehicle_simulator)/rviz/robot_simulator_Sentry.rviz" respawn="true" />
    </group>

    <!-- 启动服务通信 -->
    <include file="$(find nav_service)/launch/nav_service.launch" />

    <!-- 启动刑天机器人的串口通信 -->
    <include file="$(find nav_serial_ctrl)/launch/nav_serial_ctrl.launch" />

    <!-- 补充的tf转换-->
    <include file="$(find nav_real_start)/launch/tf_real.launch">
        <arg name="ns" value="$(arg ns)" />
    </include>
</launch>