<launch>
    <!-- 选择性开启-->
    <arg name="use_global_planner" default="false" />
    <arg name="use_rviz" default="false" />

    <!-- 局部规划的初始点位-->
    <arg name="ns" default="" />
    <arg name="vehicleX" default="0" />
    <arg name="vehicleY" default="0" />
    <arg name="vehicleYaw" default="0" />
    <param name="use_sim_time" value="false" />

    <include file="$(find map_to_odom)/launch/map_to_odom.launch">
        <arg name="vehicleX" value="$(arg vehicleX)" />
        <arg name="vehicleY" value="$(arg vehicleY)" />
        <arg name="vehicleYaw" value="$(arg vehicleYaw)" />
        <arg name="ns" value="$(arg ns)" />
    </include>

    <!-- 启动Autonomous Exploration Development Environment环境，加载地形分析，局部导航 -->
    <include file="$(find local_planner)/launch/system_lplanner.launch">
        <arg name="ns" value="$(arg ns)" />
        <arg name="vehicleX" value="$(arg vehicleX)" />
        <arg name="vehicleY" value="$(arg vehicleY)" />
        <arg name="vehicleYaw" value="$(arg vehicleYaw)" />
    </include>

    <!-- 启动全局规划 -->
    <group if="$(arg use_global_planner)">
        <include file="$(find nav_gplanner_start)/launch/system_gplanner.launch">
        <arg name="ns" value="$(arg ns)" />
        <arg name="use_map" value="$(arg use_map)" />
        <arg name="map_file" value="$(arg map_file)" />
        </include>
    </group>

    <!-- 启动rviz -->
    <group if="$(arg use_rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rvizGA"
            args="-d $(find vehicle_simulator)/rviz/robot_simulator_Sentry.rviz" respawn="true" />
    </group>

    <!-- 启动服务通信 -->
    <include file="$(find nav_service)/launch/nav_service.launch" />

    <!-- 启动刑天机器人的串口通信 -->
    <!-- <include file="$(find nav_serial_ctrl)/launch/nav_serial_ctrl.launch" /> -->

    <include file="$(find waypoint_control)/launch/waypoint_control.launch"/>

    <!-- 补充的tf转换-->
    <include file="$(find nav_real_start)/launch/tf_real.launch">
        <arg name="ns" value="$(arg ns)" />
    </include>

    <include file="$(find lio_interface)/launch/lio_interface.launch">
        <arg name="ns" value="$(arg ns)" />
    </include>

</launch>