<launch>
    <!-- 选择性开启-->
    <arg name="use_global_planner" default="false" />
    <arg name="use_rviz" default="false" />
    <arg name="use_map" default="true" />
    <arg name="use_lp_reconfigure" default="false" />

    <!-- 局部规划的初始点位-->
    <arg name="ns" default="TITA" />
    <arg name="vehicleX" default="0" />
    <arg name="vehicleY" default="0" />
    <arg name="vehicleYaw" default="0" />
    <arg name="min_intensity" default="0.2" />
    <arg name="min_intensity_global" default="0.22" />
    <arg name="min_intensity_blind" default="0.35" />
    <arg name="map_file" default="$(find map_manager)/map/NO.yaml" />
    <arg name="pcd_path" default="$(find map_manager)/pcd/NO.pcd" />
    <!-- <arg name="map_file" default="$(find map_manager)/map/white_test.yaml" />
    <arg name="pcd_path" default="$(find map_manager)/pcd/qingqing.pcd" /> -->
    <param name="use_sim_time" value="false" />

    <include file="$(find map_to_odom)/launch/map_to_odom.launch">
        <arg name="vehicleX" value="$(arg vehicleX)" />
        <arg name="vehicleY" value="$(arg vehicleY)" />
        <arg name="vehicleYaw" value="$(arg vehicleYaw)" />
        <arg name="ns" value="$(arg ns)" />
    </include>

    <!-- 启动Autonomous Exploration Development Environment环境，加载地形分析，局部导航 -->
    <include file="$(find local_planner)/launch/system_rmuc.launch">
        <arg name="ns" value="$(arg ns)" />
        <arg name="vehicleX" value="$(arg vehicleX)" />
        <arg name="vehicleY" value="$(arg vehicleY)" />
        <arg name="vehicleYaw" value="$(arg vehicleYaw)" />
        <arg name="use_map" value="$(arg use_map)" />
        <arg name="min_intensity" value="$(arg min_intensity)" />
        <arg name="pcd_path" value="$(arg pcd_path)" />
    </include>

    <!-- 启动全局规划 -->
    <group if="$(arg use_global_planner)">
        <include file="$(find pointcloud_to_laserscan)/launch/my_cloud_to_laser.launch">
            <arg name="min_intensity" value="$(arg min_intensity_global)" />
            <arg name="min_intensity_blind" value="$(arg min_intensity_blind)" />
        </include>
        <!-- Map server -->
        <group if="$(arg use_map)">
            <node pkg="map_server" name="map_server" type="map_server" respawn="true"
                args="$(arg map_file)" />
        </group>
        <!-- move_base -->
        <include file="$(find move_base)/launch/move_base_goalOnly.launch">
            <arg name="odom_topic" value="/state_estimation" />
        </include>
    </group>

    <!-- 启动rviz -->
    <group if="$(arg use_rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rvizGA"
            args="-d $(find vehicle_simulator)/rviz/robot_simulator_Sentry.rviz" respawn="true" />
    </group>

    <!-- 启动规划器动态调参 -->
    <group if="$(arg use_lp_reconfigure)">
        <include file="$(find local_planner)/launch/reconfigure.launch" />
    </group>

    <!-- 启动服务通信 -->
    <include file="$(find nav_service)/launch/nav_service.launch" />

    <!-- 补充的tf转换-->
    <include file="$(find start_pathPlan_real)/launch/tf_real.launch">
        <arg name="ns" value="$(arg ns)" />
    </include>

</launch>